// Custom styles.
.links-of-cert-item img{
    display: inline;
    object-fit: none;
}

.links-of-cert-item a{
    border-bottom: 0;
}

.side-image-cert-pmp {
    height: 85px;
    width: 85px;
    object-position 0 0;
}

.side-image-cert-acp {
    height: 85px;
    width: 85px;
    object-position -87px 0;
}

.side-image-cert-csm {
    height: 85px;
    width: 85px;
    object-position -172px 0;
}

.side-image-cert-mcsd-app-2017 {
    height: 135px;
    width: 135px;
    object-position 0 -86px;
}

.side-image-cert-mcsa-web {
    height: 135px;
    width: 135px;
    object-position -135px -86px;
}
bsi-iso27001 {
    height: 135px;
    width: 135px;
    object-position 0 -242px;
}
bsi-iso20000 {
    height: 135px;
    width: 135px;
    object-position -135px -242px;
}
mcsd-web {
    height: 135px;
    width: 135px;
    object-position -270px -242px;
}
mcitp-db-2008 {
    height: 135px;
    width: 135px;
    object-position -405px  -242px;
}